*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}

body{
    background-color: antiquewhite;
    display : flex;
    justify-content : center;
    align-items : center;
    height: 100vh;
}

.qr-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#qr-text{
    margin-bottom: 10px;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #181717;
}

#qr-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #3f8d3c;
    color: white;
    cursor: pointer;
}

#qr-img {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}